STRIPE_SECRET_KEY=sk_test_51TPKJOCYwuVIf5ryBHkPz1DXI3FuMT1zTEb9rQELGtdINgxqyjMMRHd6ARpBGYYy8EpTGk7ThoyDp6iwIAVJYuER00dBWIUfII
GEMINI_API_KEY=AIzaSyCexYjv7FE_UYh7JaeZnvA_cWsp0bNwmN4
JWT_SECRET=8aa631878a9bf819753edebe28508133a09cb3917b73ffc8e8356fc69335c516
DATABASE=mongodb://localhost:27017/cropcareai